.body-div{
	background-color: #5A789A;
	padding: 0;
}

.logo{
	font-size: 170px;
	font-family: MV Boli;
	text-align: center;
	color: black;

}

.logo-div{
	padding: 0;
	width: 100%;

}